#hd
  .yui-g
    #logo.yui-u.first
      %h1
        %a{:href=>application_url, :title=>"#{AppConfig.community_name}"}=image_tag("sa_logo.png", :alt => "logo")
    .yui-u
      -box :class => "header_msg" do
        %strong
          =:get_started_banner.l :site=>AppConfig.community_name
        %p
          =:homepage_banner_msg.l