@import yui/modules/grids.sass
@import yui/modules/fonts.sass
@import yui/modules/base.sass
@import compass/utilities.sass
@import partials/rounded.sass
@import partials/base.sass

body
  :margin 0px
  :background
    :color #2a2a2a
    :image = image_url("button_bgd.png")
    :repeat repeat-x
  a
    :text-decoration none


ul.list
  :margin 0em
  :padding 0.5em
  :margin-left 0em
  li
    :list-style none
    :border-bottom none


#user-menu-tip
  :display none


.hentry
  .vcard 
    ul
      :margin 1em 0em 1em 2em
      :padding-right 0em
      li
        :list-style none
        :border-bottom none


.yui-t7
  :padding-top 6px
  +yui-two-column-right-template(240px)


#top_menu
  :color #fff
  ul
    +horizontal-list(15px)
    li
      :border 1px solid #999


#doc4
  :background-color #fff
  .alt
    :margin 0
    :padding 0
  .box
    :border none
    :margin 0
    :padding 0
    h3
      :padding 0
      :margin 0


#hd
  :border-top none
  :background-color #53808E
  #logo
    h1
      :margin 0px 0px 0px 75px
      img
        :border none


#CommunityFooter
  ul
    :text-align center
    :float none
    li
      :list-style none
  p
    :display none


dl
  :margin 0.5em 0em 0em 0em
