@import blueprint/reset.sass
@import partials/base.sass
@import blueprint
@import compass/utilities.sass
@import compass/layout.sass
+blueprint
+sticky-footer(18px, "#doc4", "#ft", "#CommunityFooter")

body
  :background-color #212121
  +blueprint-debug
  ul
    +no-bullets
    margin: 0

h3
  :background
    :color = !darkgrey
    :image = image_url("title_corner.png")
    :position top right
    :repeat no-repeat
  :color = !offwhite
  :font-variant small-caps
  :padding 3px 0px 5px 8px
  :margin 0px 0px 8px 0px

a
  +link(!aqua)

#user-menu-tip
  :display none

#doc4
  :background-color = !white
  +container
  :padding 10px
//  +showgrid

#top_menu
  +column(24)
  :background-color = !darkgrey
  :margin-bottom 5px
  ul
    +horizontal-list(0px)
    li
      a
        :font-variant small-caps
        +inline-block
        :padding 8px 60px 10px 10px
        :border-right 1px solid 
          :color = !white
  form
    :display none


#hd
  h1
    :margin 0
    :padding 0.5em 0
    a
      :padding-left 1em
  :background-color = !aqua
  :margin-bottom 1em
  +column(24)
  .yui-u
    +column(10, true)
    .box.header_msg
      :padding-top 0.5em
      :font-size 135%
    a
      +link(!offwhite, !darkgrey)

#bd
  +column(20)

#ft
  +column(4, true)

#CommunityFooter
  :background-color = !darkgrey
  :text-align center
  +container
  ul
    :width 300px
    :margin 0 auto
    :display inline-block
    +horizontal-list(4px)
