#welcome
  .yui-gb
    .yui-u.first
      -box do 
        %h3
          About Us
        %p
          SistasAtlanta is based in Atlanta, GA and was created by Tanisha Brown in June of 2009. Our main goal is to become the platform to share ideas and leverage a diverse group of women with like minds. Also, SistasAtlanta will continue to build relationships through networking, increase our knowledge through education, empower women across our communities by giving back, and continue to build self-worth. 

        
    .yui-u
      -box do 
        %h3
          Our Core Values
        %ul
          %li Compassion/Productive
          %li Teamwork/Collaboration
          %li Empowerment
          %li Fun
          %li Creativity/Innovation
          %li Meeting our commitments
          %li Professionalism/Respect

    .yui-u
      -box do 
        %h3
          Our Goals
        %ul
          %li Community Outreach
          %li Networking
          %li Awareness
          %li Education
          %li Women Empowerment
//-# TODO create localizations for these snippets
