#welcome
  -box do 
    %h2 
      Welcome to 
      =AppConfig.community_name
    %p
      SistasAtlanta is a women's social group committed to career, health, and lifestyle elevation through education, networking, community outreach, and empowerment. 
    %p
      Want to learn more? 
      ="Check out our #{link_to 'about page', about_path}, or read our #{link_to 'FAQs', faq_path}."