#welcome
  -box do 
    %h2 
      Welcome to 
      =AppConfig.community_name
    %p
      %b
        SistasAtlanta 
      is a women's social group committed to 
      %em 
        career, health, and lifestyle 
      elevation through 
      %em
        education, networking, community outreach, and empowerment. 
    %p
      Want to learn more? 
      ="Check out our #{link_to 'about page', about_path}, or read our #{link_to 'FAQs', faq_path}."
